AWS_ACCESS_KEY_ID=<aws_id>
AWS_SECRET_ACCESS_KEY=<access_key>
AWS_DEFAULT_REGION=us-west-2
TALLY_QUEUE_NAME=tallies-dev-and-test
ERROR_QUEUE_NAME=tallies-errors-dev
REDIS_SET_SQS_MESSAGE_RECEIVED=sqs_messages_received
